@import '../utils/variables';
@import '../responsive/mobile';

body {
    background-color: $bg-color;
}

.hero {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    display: flex;
    padding: 30px 20px;
    border-radius: 20px;
    gap: 30px;

    @include screen(600px) {
        display: block;
    }

    &-card {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            margin-bottom: 30px;
        }

        &__desc {
            margin-bottom: 20px;
            ;
        }
    }

    .list-icon {
        height: 16px;
    }

    .hero-card__list-item {
        // display: inline-block;
        margin-bottom: 10px;
    }

    label {
        margin-top: 50px;

        .errorMsg {
            display: none;
            color: #ce8a84;
            float: right;
        }
    }

    .hero-img__img {
        width: 100%;
        object-fit: cover;

        // @include screen(600px) {
        //     position: relative;
        //     top: 0
    }
}

.success-hero {
    @extend .hero;
    width: 30%;

    .success-icon {
        height: 50px;
        margin-bottom: 20px;
    }

    .hero-card {
        align-items: flex-start;
    }
}

.emailInput {
    color: $primary-color;
}

#email {
    padding-left: 20px;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    // outline: transparent;
    border: 1px solid #d7d7d7;

}


.emailError {
    background-color: #ffe8e6;
    outline: #d59794;
    border: 1px solid #d59794;
}

.emailSuccess {
    background-color: green;
}

.submit {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    cursor: pointer;
    color: #ffff;
    background: linear-gradient(90deg, $grad-startcolor 0%, $grad-endcolor 100%);

    &:hover {
        background: #232742;
    }
}